pydantic # For settings management
pydantic_settings # For settings management
setuptools
python-dotenv
ipykernel
langchain
langchain_community
langchain_groq
langchain_google_genai
langchain_openai
pypdf
faiss-cpu
structlog
PyMuPDF # For PDF processing
FastAPI # For building APIs
uvicorn # For running the FastAPI server
python-multipart # For handling file uploads
azure-storage-blob # For Azure Blob Storage operations
opencensus-ext-azure # For Azure monitoring