pydantic==2.11.7
pydantic-settings==2.10.1
setuptools==80.9.0
python-dotenv==1.1.1
ipykernel==6.30.1
langchain==0.3.27
langchain-community==0.3.27
langchain-groq==0.3.6
langchain-google-genai==2.1.9
langchain-openai==0.3.28
pypdf==5.9.0
faiss-cpu==1.11.0.post1
structlog==25.4.0
pdfplumber==0.11.7
PyMuPDF==1.26.3
FastAPI==0.116.1
uvicorn==0.35.0
python-multipart==0.0.20
azure-storage-blob==12.26.0
opencensus-ext-azure==1.1.15
azure-cosmos==4.9.0
azure-identity==1.24.0
azure-keyvault-secrets==4.10.0

# The following versions are intended for local use with CUDA 12.6 only
# torch==2.8.0+cu126
# torchvision==0.23.0+cu126
# torchaudio==2.8.0+cu126

-e . # <- lets you edit your code and see changes instantly when running or importing your package.

# Run the below command to install the Torch CUDA dependencies from PyTorch and other dependencies from PyPI
# pip install -r requirements.txt --index-url https://download.pytorch.org/whl/cu126 --extra-index-url https://pypi.org/simple